@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 59px;
}

.website {
    position: absolute;
    left: -9999px;
}

/*body {*/
/*    color: #a8a29e;*/
/*}*/

.pill {
    @apply px-5 py-2 bg-indigo-200 rounded-2xl text-neutral-900 hover:-translate-y-1 hover:shadow-lg transition-transform duration-200 cursor-crosshair;
}