@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 69px;
}

.website {
    position: absolute;
    left: -9999px;
}

/*body {*/
/*    color: #a8a29e;*/
/*}*/